body {
    background: linear-gradient(30deg, #090979, #00D4FF);
}

.screen{
    background-color: white;
    position: absolute;
    justify-self: center;
    margin-top:2em;
    margin-bottom:2em;
    width: 90%;
    border-radius: 50px;
    text-align: center;
}
.foto {
    width: 200px;
    height: 200px;

}
.foto img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 50%; 
  
}
.foto:hover {
    transform: scale(1.1); 
    transition: transform 0.3s;
}

.name{
    font-size: 30px;
    height: 40px;
}
.titel{
    font-size: 20px;
}
.about {
    background-color: rgb(231, 231, 231);
    border-radius: 50px;
    justify-self: center;
    width: 70%;
    padding: 20px;
    text-align: center; 
}
.aboutflex {
    gap: 20px;
    text-align: left;
    display: flex;             
}
.about:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

@media (max-width: 600px){
  .foto{
    display: none;
  }
  .screen{
    height: auto;
  }
  .Dtext{
    display: flex;
    flex-direction: column;
    text-align: left;
}
}

.Motivatie {
    margin-top: 1%;
    background-color: rgb(231, 231, 231);
    border-radius: 50px;
    justify-self: center;
    width: 70%;
    padding: 20px;
    text-align: center; 
}
.Ctext{
    text-align: left;
}
.Motivatie:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}
.contact {
    margin-top: 1%;
    background-color: rgb(231, 231, 231);
    border-radius: 50px;
    justify-self: center;
    width: 70%;
    padding: 20px;
    text-align: center; 
}
.Dtext{
    display: flex;
    text-align: left;
    gap: 35%;
}
.contact:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}
@media (max-width: 1280px){
      .Dtext{
    display: flex;
    flex-direction: column;
    text-align: left;
}
}